@model IEnumerable<bookliberary.Models.intersts>

@{
    ViewBag.Title = "t";
}

<h2>@ViewBag.msg</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedyear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.selectedbooktype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectedyear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.selectedbooktype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
